.contact-form {
  width: 400px;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
}

form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
}
input {
  width: 100%;
  height: 35px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}
textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 2px solid rgba(220, 220, 220);
}
label {
  margin-top: 1rem;
  color: white;
}
.submitButton {
  margin-top: 2rem;
  background: #cd0404;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
}

.submitButton:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}

@media screen and (max-width: 640px) {
  .contact-form {
    width: 300px;
  }
}
