/* colors: #6F1AB6 , #CD0404 , #ff0032,  #3d1766 */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 10;
}
.header-bg {
  background-color: #3d1766;
  transition: 0.4;
}
.nav-menu {
  display: flex;
}
.nav-menu li {
  padding: 1rem 2rem;
}
.nav-menu li:hover {
  background-color: #3d1766;
  border-radius: 15px;
}

.nav-menu li a {
  font-size: 1.2rem;
  font-weight: 500;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1040px) {
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #3d1766;
    color: #ff0032;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.4s;
  }

  .nav-menu li {
    padding: 1rem 0;
  }
  .nav-menu li a {
    font-size: 2rem;
  }
  .hamburger {
    display: block;
  }
  .nav-menu.active {
    left: 0;
  }
}
