/* colors: #6F1AB6 , #CD0404 , #ff0032,  #3d1766, #ff0032 red color */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #3d1766;
}
h1,
h2,
h3,
h4,
p,
a {
  color: #ff0032;

  text-decoration: none;
}

ul {
  list-style-type: none;
}
.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: #cd0404;
  color: black;
  border: 1px solid white;
  font-weight: 700;
  cursor: pointer;
}
.btn-light {
  background: transparent;
  color: white;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}
